<div class="editor-page">
  <div class="container page">
    <div class="row">
      Subscribe to get emails from
      <p>{{ writerUsername }}</p>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1 col-xs-12">
        <app-list-errors [errors]="errors" />

        <form [formGroup]="subscribeForm">
          <fieldset [disabled]="isSubmitting">
            <fieldset class="form-group">
              <input
                class="form-control"
                formControlName="email"
                type="text"
                placeholder="Your email address here"
              />
            </fieldset>

            <button
              class="btn btn-lg pull-xs-right btn-primary"
              type="button"
              (click)="submitForm()"
            >
              Subscribe now
            </button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
